@media (max-width: 400px) {
  #modal .content{
    width: 300px;
  }

  #modal form input {
    width: 240px;
  } 

  #page-home .content a {
    margin-top: 100px;
  }

  #page-home .content main a {
    width: 300px;
    margin-bottom: 15px;
  }

  #page-create-point form {
    padding: 25px;
  }

  #page-create-point form button {
    margin-left: 8px;
  }

  #page-create-point fieldset .items-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media
 (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }

  #page-home .content {
    align-items: center;
    text-align: center;
  }

  #page-home header a {
    position: absolute;
    bottom: 48px;

    left: 50%;
    transform: translateX(-50%);
  }

  #page-home main {
    align-items: center;
  }

  #page-search-results .cards {
    grid-template-columns: 1fr;
  }

  #page-create-point .field-group {
    flex-direction: column;
  }

  #page-create-point .field-group .field + .field {
    margin-left: 0;
  }
}

@media (min-width: 1700px) {
  #page-home {
    background-position-x: 40 vw;
  }
}

@media (max-height: 760px) {
  #page-home {
    background-position-y: 100px;
  }
}